/*load welcome screen*/
.fill {
	background-color: #4b2f2f;
	color: white;
	height: 100vh;
}

.col-cus {
	background-color: black;
	border-radius: 5px;
	border: solid;
	padding: 5px;
}

.col-cus2 {
	background-color: grey;
	border-radius: 5px;
	border: solid;
	border-color: black;
}