/*load welcome screen*/
.fill {
	background-color: #4b2f2f;
	color: white;
	height: 100vh;
}

.borders {
	border: solid;
}
.add-marg {
	margin: auto;
}

.make-block {
	display: block;
}

.offset {
	margin-top: 100px;
}


.btn-cus1 {
	margin-top: 10px;
	color: rgb(255,239,198);
	letter-spacing: 2px;
	-moz-transition: transform 1s, color 1s; /* Modzilla */
	-o-transition: transform 1s, color 1s; /* Opera */
	-webkit-transition: transform 1s, color 1s; /* Safari */	
	transition: transform 1s, color 1s;

}

.btn-cus1:hover {
	text-decoration: none;
	color: rgb(178,135,31);
	transform: translate(-5px, 0px);
}

.btn-cus1 span:after {
	content: '>>'
}

.btn-cus {
	letter-spacing: 2px;
	border-radius: 2px;
	border-color: rgb(178,135,31);
	margin-top: 30px;
	color: rgb(178,135,31);
	box-shadow: 0px 5px rgb(159,122,34);
	text-decoration: none;
	transition: transform 0.5s, box-shadow 0.5s, background-color 1s;
}

.btn-cus:hover {
	background-color: rgba(178,135,31, 0.2);
	border-color: rgb(178,135,31);
	text-decoration: none;
	color: rgb(178,135,31);
}

.btn-cus:active {
	transform: translate(0, 3px);
	box-shadow: 0 2px;
}
