/* disable scrolling behind overlay */
body {
	overflow: hidden;
}

.overlay {
	overflow-y: hidden;  /*hide content*/
	position: fixed;
	width: 100%;
	z-index: 2;
}

.overlay-content {
	position: relative;
	top: 25%;
}

/* transition delay 0.2 */
#enterBtn-final, #cookie-final, #cookie, #cookie-anim, #aboutHead-final {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* transition time function */
#pullTab-wrap, #pullTab-wrap-show, #pullTab-wrap-final, #welcomeScreen-init, #welcomeScreen-final {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

/* text decoration: none */
#enterBtn, #enterBtn-final, #pullTabBtn {
	text-decoration: none;
}

#enterBtn, #enterBtn-final, #pullTabBtn {
	color: #856969;
}

#pullTab-wrap, #pullTab-wrap-show, #pullTab-wrap-final{
	position: fixed;
	z-index: 1;
	overflow-y: hidden;
	background: #4b2f2f;
	top: 0;
	/* centering element */
	left: 50%;
	transform: translate(-50%, 0);

	-webkit-transition: height 0.3s, top 0.8s;
	-moz-transition: height 0.3s, top 0.8s;
	-o-transition: height 0.3s, top 0.8s;
	transition: height 0.3s, top 0.8s;
}

#pullTab-wrap {
	height: 0;
}

#pullTab-wrap-show {
	height: 6%;
}

#pullTab-wrap-final {
	top: 100%;
}

#welcomeScreen-init, #welcomeScreen-final{
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

#welcomeScreen-init, #welcomeScreen-final {
	background-color: #4b2f2f;
}

#welcomeScreen-init {
	height: 100%;
}

#welcomeScreen-final {
	height: 0;
}

/* doesnt work*/
#enterBtn-final, #cookie-final {
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

#cookie, #cookie-anim {
	opacity: 1;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;

	-webkit-transition-timing-function: cubic-bezier(.35,.84,.62,.79);
	-moz-transition-timing-function: cubic-bezier(.35,.84,.62,.79);
	-o-transition-timing-function: cubic-bezier(.35,.84,.62,.79);
	transition-timing-function: cubic-bezier(.35,.84,.62,.79);
}

/* when mousing over enter button */
#cookie-anim {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
}

#enterBtn, #enterBtn-final {
	background-color: #432727;
	box-shadow: 0 5px #391D1D;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 30px;
	text-align: center;
	width: 160px;
}

#enterBtn {
	-webkit-transition: transform 0.2s, box-shadow 0.2s;
	-moz-transition: transform 0.2s, box-shadow 0.2s;
	-o-transition: transform 0.2s, box-shadow 0.2s;
	transition: transform 0.2s, box-shadow 0.2s;
}

#enterBtn:hover {
	box-shadow: 0 3px #391D1D;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

#enterBtn:active {
	box-shadow: 0 0 #391D1D;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

#enterBtn:focus, #enterBtn-final {
	outline: none;
}

#landingPage {
	background-color: wheat;
	font-family: 'Playfair Display', serif;
}

.header {
	font-size: 10vh;
	letter-spacing: -5px;
	word-spacing: 5px;
}

.content {
	font-size: 3vh;
	letter-spacing: 2px;
	word-spacing: 5px;
}

#aboutHead-init, #aboutContent-init {
	color: #4b2f2f;
	opacity: 0;
}

#aboutHead-init {
	margin-top: 20px;
}

#aboutContent-init {
	margin-top: 30px;
}

#aboutHead-final, #aboutContent-final {
	margin-top: 0;
	opacity: 1;
	-webkit-transition: opacity 0.6s, margin-top 0.6s;
	-moz-transition: opacity 0.6s, margin-top 0.6s;
	-o-transition: opacity 0.6s, margin-top 0.6s;
	transition: opacity 0.6s, margin-top 0.6s;
}

#aboutContent-final {
	margin-top: 20px;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

#shopTitle {
	text-align: center;
}

#shopContent {
	background-color: #973131;
	height: 100vh;
	overflow-y: scroll;
	color: wheat;
}

.row-marg {
	margin-top: 20vh;
}

.row-marg-2 {
	margin-top: 10vh;
}

.row-marg-last-2 {
	margin-bottom: 10vh;
}

.row-last {
	margin-bottom: 20vh;
}

.add-marg {
	margin: auto;
}

.make-block {
	display: block;
}

/* for testing */
/*.row-borders-about {*/
	/*border: solid aqua;*/
/*}*/

/*.row-borders-shop {*/
	/*border: solid black;*/
/*}*/

/*.borders-content {*/
	/*border: solid teal;*/
/*}*/

/*.borders-head {*/
	/*border: solid #ff76df*/
/*}*/

/*.row-borders-nav{*/
	/*border: solid coral;*/
/*}*/

/*.borders-button {*/
	/*border: solid gold;*/
/*}*/
/* for testing */
